
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.payment-details {
  &.label {
    display: inline;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-align: inherit;
    white-space: inherit;
    vertical-align: inherit;
    border-radius: 0;
  }
  legend {
    display: block;
    width: auto;
    padding: 0;
    margin-bottom: 0;
    font-size: 21px;
    line-height: inherit;
    color: #333333;
    border: 0!important;
  }
}