<script>
    let ShopifyProduct = {
        "product" : {% capture product_output %}
            {
            "id": {{product.id}},
            "variants": {
                {% for variant in product.variants %}
                "{{variant.id}}":{
                    inventory_quantity:{{variant.inventory_quantity}},
                }
                {% if forloop.last == false %},{% endif %}
                {% endfor %} }
            }
        {% endcapture %}
        {{ product_output | strip_newlines }}
    };
</script>