progress {
    width: 80%;
    display: inline-block;
    margin: 2em auto;
    padding: 3px;
    border: 0 none;
    background: #616060;
    border-radius: 14px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    progress {
        height: 25px;
    }
}
progress::-webkit-progress-bar {
    background: transparent;
}
progress::-webkit-progress-value {
    border-radius: 12px;
    background: yellow;
    margin:0 auto;
    float:left;
}
progress:after {
    margin:-26px 0 0 -7px;
    padding:0;
    display:inline-block;
    float:left;
}
.high-count::-webkit-progress-value {
    border-radius: 12px;
    background: green;
    margin:0 auto;
    float:left;
}
.low-count::-webkit-progress-value {
    border-radius: 12px;
    background: red;
    margin:0 auto;
    float:left;
}
.show-real-count {
    font-size: 20px;
}
